%head

.page-header
	%p Plan > Step 1 > Step 2 > Step 3 > Step 4 Participant's Age

.step-description
	%span
		%strong Choose your Pain Assessment Tools

.row
	.rectangle.ppc-choice.col-md-1.col-md-offset-1.col-sm-1.col-xs-1.col-xs-offset-1
		.ppc-step PAIN ASSESSMENT
	.rectangle.age-choice.col-md-1.col-sm-1.col-xs-1
		.ppc-step PATIENT AGE RANGE: 6-12 YEARS OLD

	.tool-square.col-md-2.col-md-offset-1.col-sm-1.col-sm-offset-1.col-xs-5
		#ppc-tool-list
			%ul
				%li 
					%input{:type => "checkbox"}/
					Assessment Tool #1
				%li 
					%input{:type => "checkbox"}/
					Assessment Tool #2
				%li 
					%input{:type => "checkbox"}/
					Assessment Tool #3
				%li 
					%input{:type => "checkbox"}/
					Assessment Tool #4
				%li 
					%input{:type => "checkbox"}/
					Assessment Tool #5
				%li 
					%input{:type => "checkbox"}/
					Assessment Tool #6
				%li 
					%input{:type => "checkbox"}/
					Assessment Tool #7
				%li 
					%input{:type => "checkbox"}/
					Assessment Tool #8
				%li 
					%input{:type => "checkbox"}/
					Assessment Tool #9
				%li 
					%input{:type => "checkbox"}/
					Assessment Tool #10
				%li 
					%input{:type => "checkbox"}/
					Assessment Tool #11
				%li 
					%input{:type => "checkbox"}/
					Assessment Tool #12

	/ .triangle.col-md-offset-5

	#description-square.col-md-offset-8.col-sm-offset-8.col-xs-offset-5
		%span Assessment #1
		#description-text
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at nisl sit amet elit bibendum ultricies. Sed vestibulum libero odio, sit amet semper tellus mattis et. Donec a nibh eu lacus dignissim condimentum vitae sit amet sapien. Praesent vel magna sed ipsum malesuada gravida id eget sapien.

			Etiam metus erat, scelerisque id augue in, semper iaculis magna. Suspendisse non lacinia velit. Maecenas ante erat, ultrices at dapibus a, aliquam ac nisl. Cras non ante feugiat, consectetur elit at, viverra nunc. Nulla vulputate augue sed sapien lobortis aliquam. Suspendisse semper, metus vel volutpat placerat, arcu ipsum vestibulum ligula, et aliquet dolor tortor vitae tellus. Praesent commodo ante arcu, sed dignissim diam consectetur eu.

			%a{:href => "http://www.acochranlink.com/"} http://www.acochranlink.com/



%input#goToNextStep.btn.btn-primary.submit{:type => "submit", :value => "Next Step"}/