.page-header
	%p Plan > Step 1 > Step 2 > Add your team members

.row
	%button#grp-explain.btn.btn-primary.btn-explain{"data-target" => "#explainModal", "data-toggle" => "modal"} Explain the Members Page

#members-box.row
	%h2 TEAM MEMBERS
	.control-group#addNewMembers
		%input{:name => "member", :placeholder => "Add your member's name", :type => "text", :value => ""}/
		%input.btn.btn-primary.submit{:type => "submit", :value => "Submit"}/


%input#goToNextStep.btn.btn-primary.submit{:type => "submit", :value => "Proceed to Step 3"}/




#explainModal.modal.fade{"aria-hidden" =>"true", "aria-labeldby" => "explainLabel", role: "dialog", tabindex: "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"data-dismiss" => "modal", type: "button"}
					%span{"aria-hidden" => "true"} ×
					%span.sr-only Close
				%h4#explainLabel.modal-title The Members Page
			.modal-body
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium varius purus, ut cursus sapien accumsan aliquet. Vivamus scelerisque ipsum magna, sed interdum dui bibendum cursus. In tristique scelerisque nulla eget auctor. Pellentesque id elit purus. Sed luctus laoreet eros id tristique. Quisque pellentesque sed libero dapibus hendrerit. Nullam quis pellentesque odio.

				%p Sed aliquam leo tortor. Nulla iaculis ante id elementum porttitor. Curabitur ac bibendum leo, sit amet dignissim velit. Mauris suscipit condimentum lectus, non volutpat nisl bibendum vitae. Quisque suscipit neque non dui malesuada, quis dignissim leo egestas. Maecenas volutpat mi ut libero facilisis molestie. Quisque ut nibh et diam dictum porttitor. Integer fermentum metus ac lacus laoreet aliquet. Integer mollis orci quis nibh consectetur, eget interdum lectus posuere.
			.modal-footer
				%button.btn.btn-default{type: "button", "data-dismiss" => "modal"} Close