.page-header
	%h2 Readiness for Change

%p.description There are five key areas in a unit’s content that influence the success of a pain practice change. Identify the areas in your unit that need attention and include in your practice change plan. Click on one of the 5 areas to begin your evaluation.

.row
	.span4
		%a.change-links{href: "foo.com"} 
			.change-boxes.unvisited-change
				%span
					Communication

	.span4
		%a.change-links.span4{href: "foo.com"}
			.change-boxes.unvisited-change
				%span
					Space

	.span4
		%a.change-links.span4{href: "foo.com"}
			.change-boxes.unvisited-change
				%span
					Culture

	.span4
		%a.change-links.span4{href: "foo.com"}
			.change-boxes.unvisited-change
				%span
					Feedback Process

	.span4
		%a.change-links.span4{href: "foo.com"}
			.change-boxes.unvisited-change
				%span
					Leadership
%a.btn.btn-primary.btn-submit{href: "#", role: "button"} Submit