%head
	%link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}/

.page-header
	%p Plan > Step 1 > Step 2 > Step 3 > Step 4 Choosing your PPC

.step-description
	%span
		Choose which of the Pain Practice Change approaches you want to enact with your team

.row
	.span6
		%a#pain-assessment{:href => "pain_assessment"}
			.circle
				%div PAIN ASSESSMENT

			%input#audit-link.btn.btn-primary.submit{:type => "submit", :name => "planning-link", :value => "Start planning"}/

			%p#audit-text Some description of the Pain Assessment Track - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ullamcorper lorem, vitae facilisis tellus.

	.span6
		%a#pain-management{:href => "pain_management"}
			.circle
				%div PAIN MANAGEMENT

			%input#audit-link.btn.btn-primary.submit{:type => "submit", :name => "planning-link", :value => "Start Planning"}/

			%p#audit-text Some description of the Pain Management Track - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ullamcorper lorem, vitae facilisis tellus.


%input#goToNextStep.btn.btn-primary.submit{:type => "submit", :value => "Proceed to Step 4"}/