%head


.page-header
	%p Plan > Step 1 > Step 2 > Step 3 > Step 4 Choosing your PPC

.step-description
	%span
		%strong Choose which of the Pain Practice Change approaches you want to enact with your team

.row
	.col-md-6
		%a#pain-assessment{:href => "/plan/step_4/participant_age"}
			.circle
				%div PAIN ASSESSMENT

			%input#audit-link.btn.btn-primary.submit{:type => "submit", :name => "planning-link", :value => "Start planning"}/

			%p#audit-text Some description of the Pain Assessment Track - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ullamcorper lorem, vitae facilisis tellus.

	.col-md-6
		%a#pain-management{:href => "/plan/step_4/participant_age"}
			.circle
				%div PAIN MANAGEMENT

			%input#audit-link.btn.btn-primary.submit{:type => "submit", :name => "planning-link", :value => "Start Planning"}/

			%p#audit-text Some description of the Pain Management Track - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ullamcorper lorem, vitae facilisis tellus.


%input#goToNextStep.btn.btn-primary.submit{:type => "submit", :value => "Proceed to Step 4"}/