.container
  / Example row of columns
  .row
    .col-md-4
      %h2 Plan
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      - if user_signed_in?
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Start Planning
    .col-md-4
      %h2 Change
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      - if user_signed_in?
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Starting Doing
    .col-md-4
      %h2 Audit Tool
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      - if user_signed_in?
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Go to Audit Tool

  = link_to 'section one', comfy_cms_render_page_path('section-1')
