%head

.page-header
	%p Plan > Step 1 > Step 2 > Step 3 > Step 4 Fill in your Aim Statement

.step-description
	%span
		%strong Fill in your Aim Statement

.row
	%a.rectangle.ppc-choice.col-md-1.col-md-offset-1.col-sm-1.col-xs-1.col-xs-offset-1{:href => "/plan/step_4/"}
		.ppc-step PAIN ASSESSMENT
	%a.rectangle.age-choice.col-md-1.col-sm-1.col-xs-1{:href => "/plan/step_4/particpant_age/"}
		.ppc-step PATIENT AGE RANGE: 6-12 YEARS OLD
	%a.rectangle.tool-choice.col-md-1.col-sm-1.col-xs-1{:href => "/plan/step_4/select_tools/"}
		.ppc-step PAIN ASSESSMENT TOOLS: TOOL 1, TOOL 2, TOOL 3

	#aim-statement.col-md-5.col-md-offset-1.col-sm-7.col-sm-offset-1.col-xs-5.col-xs-offset-1
		%p TO INCREASE THE USE AND DOCUMENTATION OF EVIDENCE BASED PAIN ASSESSMENT SCALES (TOOL 1, TOOL2, TOOL3) FOR PATIENTS 7-12 years old BY ____ % [enter targeted percentage of change--What degree of change would be feasible on your unit?] IN ____ MONTHS [enter length of time to achieve targeted change -- How long will it take?]
		

%input#goToNextStep.btn.btn-primary.submit{:type => "submit", :value => "Next Step"}/