.row
	.col-md-6
		.page-header
		/ = simple_form_for @group, class: 'form-horizontal' do |f|
		/ 	= f.input :name
		/ 	= f.input :location
		/ 	= f.input :unit
		/ 	= f.button :submit, 'Submit', class: 'btn btn-success'