#step-5-btn {
	background: rgb(12, 164, 232);
	color: white;
}

#step-5-btn:hover {
	background: rgba(12, 164, 232, 0.5);
}

#step-6-btn {
	background: rgb(0, 244, 255);
	color: white;
}

#step-6-btn:hover {
	background: rgba(0, 244, 255, 0.5);
}

#step-7-btn {
	background: rgb(12, 232, 180);
	color: white;
}

#step-7-btn:hover,:focus {
	background: rgba(12, 232, 180, 0.5);
}

#change-link-box {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#change-link-box .btn {
	margin-bottom: 15px;
	height: 50px;
}