.page-header {
	margin-top: 5px;
}


.btn-explain {
	max-width:100px;
	white-space:normal !important;
	float: right;
	margin-bottom: 35px;
	
}

#plan-link-box {
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
}

#plan-link-box .btn {
	margin-bottom: 15px;
	height:50px;
}

#goToNextStep {
	margin: 40px -15px 40px 0;
	float: right;
	width: 110px;
	white-space: normal !important;
}

.step-description {
	text-align: center;
	margin-bottom: 30px;
	font-size: 20px;
}