.page-header
	%p Plan > Step 1 > Step 2 > Add your team members

%a{:href => "audit"}
	.circle
		%div I'm a Circle!

%input#audit-link.btn.btn-primary.submit{:type => "submit", :name => "audit-link", :value => "Start Audit"}/

%p#audit-text Some description of the Audit Tool - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ullamcorper lorem, vitae facilisis tellus.


%input#goToNextStep.btn.btn-primary.submit{:type => "submit", :value => "Proceed to Step 4"}/